
<div class="row">
	<h1>Event Index</h1>

	<div class="table-responsive">
		<table class="table table-hover">
			<tr>
				<th>Event Name</th>
				<th>Date</th>
			<!-- 	<th>PhotoStream</th> -->
				<th>Photos</th>
			</tr>

			<% @events.each do |event| %>
				<tr>
					<td><%= link_to event.name, event_path(event.id) %></td>
					<td><%= event.event_date.to_s %></td>
					<!-- The link_to will still happen even if this is commented out.  Erb doesn't get commented out that easily.  I don't think it affects your code, but just something to be aware of. -->
					<!-- <td><%= link_to "/upload/#{event.id}", event_photos_path(event.id)%></td><br> -->
					<td><%= event.photos.count %></td>
					
				</tr>
			<% end %>
		</table>
	</div>

	<%= link_to "New Event", new_event_path, class: "btn btn-primary btn-sm"%>
</div>

