<h1><%= @event.name %> Info Page </h1>

<p> EVENT NAME: <%= @event.name %> </p>
<p> EVENT DATE: <%= @event.event_date %> </p>
<p> LAST UPDATED: <%= @event.updated_at %></p>
<p> PHOTO COUNT: TODO </p>


<%=	link_to 'PHOTO UPLOAD PAGE', new_event_photo_path(@event) %>

<%= link_to 'Delete Event', @event, :method => :delete, :confirm => 'Are you sure?' %>
<%= link_to 'Edit Event Details', edit_event_path(@event) %>

