<h1><%= @event.name %></h1>

<p> EVENT DATE: <%= @event.event_date %> </p>

<%= link_to 'Stream Photos', event_photos_path(@event), class: "btn btn-success btn-lg" %><br>

<!-- adding a shortened url for uploading photos -->
<h3> Your link for Photo Upload: <%= link_to "/upload/#{@event.id}", upload_path(@event), class: "btn btn-info" %></h3>

<p><strong> PHOTOS: <%= @event.photos.empty? ? "empty": @event.photos.length %></strong></p>

<a href="mailto:?subject=Use this link to upload photos&body=LINK: <%=upload_url(@event)%>", class="btn btn-warning btn-sm">Email Link</a><br>


<%= link_to 'Delete', @event, :method => :delete, :confirm => 'Are you sure?' %><br>
<%= link_to 'Edit', edit_event_path(@event) %><br>





<!-- TODO: add a line that tells you when the last photo was added (photoStream last updated at: XXX) -->