<!-- for nav bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="sessions#index">PhotoStream</a>
  </div>

  <div class="navbar-header navbar-right">
    <% if signed_in? %>
      <p class="navbar-text">
        <%= link_to "#{current_user.email}. Not you?", current_user %>
      </p>
      <p class="navbar-text">
        <%= link_to "Sign out", signout_path, method: "delete" %>
      </p>
    <% else %>
      <p class="navbar-text">
        <%= link_to "Sign up", signup_path %>
      </p>
      <p class="navbar-text">
        <%= link_to "Sign in", signin_path %>
      </p>
    <% end %>
  </div>
  <div class="navbar-header navebar-left">
    <ul class="nav navbar-nav">
      <li><%= link_to('MyEvents', events_path) %></li>
    </ul>
  </div>
</nav>