<!DOCTYPE html>
<html>
<head>
  <title>PhotoStream</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= include_gon %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag controller_name, "data-turbolinks-track" => true %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">

		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 ">
					<% flash.each do |key, value| %>
						<div class="alert alert-<%=key%>"><%=value%></div>
					<% end %>	
					<%= yield %>
				</div>
	    </div>
	  </div>
  </div>

</body>
</html>
